*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px;
    background: rgb(255, 255, 255);
}
body::-webkit-scrollbar-track {
    background: #000000;
}
body::-webkit-scrollbar-thumb {
    background: rgb(44, 5, 24);
}

.webgl{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

/* Navbar */
.nav-wrapper {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%,  -5%);
    width: 35px;
    height: 30px;
    cursor: pointer;
    z-index: 11;
}
.nav {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,  -5%);
    width: 25px;
    height: 2px;
    background: white;
    border-radius: 50px;
    transition: all 0.2s;
    will-change: width , color;
}
.nav::before {
    content: '';
    position: absolute;
    top: 8px;
    width: 25px;
    height: 2px;
    background: white;
    border-radius: 50px;
    transition: all 0.2s;
    will-change: width , color;
}
.nav::after {
    content: '';
    position: absolute;
    top: 16px;
    width: 25px;
    height: 2px;
    background: white;
    border-radius: 50px;
    transition: all 0.2s;
    will-change: width , color;
}
.nav-wrapper:hover .nav {
    width: 32px;
    background-color: rgb(35, 255, 207);
}
.nav-wrapper:hover .nav::after {
    width: 32px;
    background-color: rgb(35, 255, 207);
}
.nav-wrapper:hover .nav::before {
    width: 32px;
    background-color: rgb(35, 255, 207);
}

/* Sidebar */
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: black;
    z-index: 10;
    transform: translateX(-100vw);
    opacity: 0;
    transition: all 0.5s;
    will-change: transform;
}
.sidebar-open{
    transform: translate(0);
    opacity: 1;
}
.sidebar-links {
    width: 100%;
    text-align: center;
    list-style-type: none;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    cursor: pointer;
    transition: all 0.2s;
    will-change: background, color;
}
.sidebar-links:hover{
    background: white;
    color: black;
} 

/* Socials */
.socials {
    position: fixed;
    bottom: 5%;
    right: 5%;
    transform: translate(-5%,-5%);
}
.socials i {
    color: white;
    font-size: 1.5rem;
}

/* Theme */
.theme {
    position: fixed;
    bottom: 5%;
    left: 5%;
    transform: translate(-5%,-5%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme-div {
    width: 20px;
    height: 15px;
    border-radius: 2px;
    margin: 0 3px;
    cursor: pointer;
}
#dark {
    background: black;
}
#light {
    background: white;
}


/* Progress Bar */
.progress-bar {
    position: fixed;
    width: 300px;
    bottom: 5%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50% , -5%);
}
.progress-divs {
    width: 25%;
    height: 2px;
    background: rgb(118, 119, 117);
    margin: 0 1px;
    transition: all 1s;
}

/* Scroll to top */
.scroll-top-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5%;
    left: 5%;
    transform: translate(-5%,-5%);
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 5;
    transform: translateX(-100vw);
}
.scroll-top-div {
    height: 100%;
    width: 3px;
    border-radius: 50px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.2s;
}
.scroll-top-div::before{
    content: '';
    position: absolute;
    top: 4px;
    left: 15px;
    width: 20px;
    height: 3px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    transform: rotate(37deg);
    cursor: pointer;
    transition: all 0.2s;
}
.scroll-top-div::after{
    content: 'Scroll to top';
    position: absolute;
    top: 4px;
    left: 15px;
    width: 20px;
    height: 3px;
    color: rgb(128, 128, 128);
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 50px;
    transform: rotate(37deg);
    cursor: pointer;
    transition: all 0.2s;
    opacity: 0;
}
.scroll-top-btn:hover .scroll-top-div{
    background: black;
}
.scroll-top-btn:hover .scroll-top-div::before{
    background: black;
}
.scroll-top-btn:hover .scroll-top-div::after{
    opacity: 1;
}


section {
    color: rgb(196, 196, 196);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Section1 */
.section1 h1 {
    width: 30%;
    text-align: center;
    text-transform: capitalize;
    font-size: 6rem;
    line-height: 0.8em;
    /* margin: 1em 0; */
    /* -webkit-text-stroke: 2px rgb(255, 255, 255); */
}
.section1 p {
    margin-top: 1em;
    font-size: 1.5rem;
    color: white;
}
.section1 span {
    font-size: 0.9rem;
    color: rgb(155, 155, 155);
}

/* Section2 */
.section2 {
    position: relative;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.section2-text {
    position: absolute;
    top: 10%;
    right: 20%;
    background: rgba(0, 0, 0, 0);
    border-radius: 15px;
    width: 400px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    color: rgb(255, 255, 255);
    transform: translate(100vw);
}
.section2-text p {
    font-size: 2rem;
    font-weight: 800;
    text-align: right;
    line-height: 0.9em;
    margin: 1em 0;
}
.section2-text::after {
    content: '';
    position: absolute;
    top: 50px;
    right: 2px;
    width: 2px;
    height: 200px;
    background: white;
}
.section2-links {
    position: absolute;
    top: 50%;
    left: 20%;
    background: rgba(0, 0, 0, 0);
    border-radius: 15px;
    width: 400px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: rgb(255, 255, 255);
    transform: translate(-100vw);
}
.services-links {
    font-size: 1.2rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.2s;
}
.services-links:hover {
    font-size: 1.4rem;
    background: rgba(0, 0, 0, 0.507);
}
.section2-links::before {
    content: 'SERVICES';
    width: auto;
    height: auto;
    position: absolute;
    left: -60px;
    top: -50px;
    padding: 0.2em;
    color: white;
    font-size: 0.7rem;
}
.section2-links::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 2px;
    width: 2px;
    height: 200px;
    background: white;
}
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(48, 1, 1);
    z-index: 10;
    transform: translateX(-100vw);
    opacity: 0;
    transition: 0.2s;
    will-change: transform;
}
.services-open{
    transform: translateX(0);
    opacity: 1;
}
.close-services {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 50px;
    height: 50px;
    transform: translate(-5%,-5%);
    cursor: pointer;
}
.close-services-btn {
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-5%,-5%);
    width: 50px;
    height: 3px;
    border-radius: 50px;
    background: white;
    cursor: pointer;
    transition: all 0.2s;
}
.close-services-btn::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: 20px;
    height: 3px;
    background: white;
    border-radius: 50px;
    transform: rotate(37deg);
    cursor: pointer;
    transition: all 0.2s;
}
.close-services:hover .close-services-btn{
    background: black;
}
.close-services:hover .close-services-btn::before{
    background: black;
}

/* Section3 */
.section3 {
    position: relative;
}
.section3-title {
    position: absolute;
    top: 20%;
    left: 10%;
    background: rgba(0, 0, 0, 0);
    border-radius: 15px;
    width: 400px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: rgb(255, 255, 255);
}
.section3-title p {
    font-size: 2rem;
    color: grey;
    font-weight: 700;
}
.section3-title span {
    line-height: 1.5em;
}
.section3-text {
    position: absolute;
    top: 50%;
    right: 10%;
    background: rgba(0, 0, 0, 0);
    border-radius: 15px;
    width: 400px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    color: rgb(255, 255, 255);
}
.section3-text p {
    text-align: right;
    line-height: 1.5em;
}


/* Section4 */
.section4 span {
    width: 20%;
    text-align: center;
    line-height: 1.5em;
}
.section4 a{
    color: white;
    font-size: 3rem;
}



/*# sourceMappingURL=main.css.map*/